<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js 3.x</title>
</head>
<body>
    <div id="app_area">
        <h1>My todo App</h1>
        <strong>할일 목록 작성</strong>
        <div class="inputBox">
            <input type="text" class="name"  placeholder="name...">
            <input type="text" class="item" placeholder="type anything welcomed...">
            <button>ADD</button>
        </div>
        <ul class="todoList">
            <li>
                <span>joy :: Django 와 Vue.js 연동 프로그램을 만들고 있음.</span>
                <span class="removeBtn">X</span>
            </li>
        </ul>
    </div>
</body>
<!--참고 :  https://vuejs.org/examples/#todomvc -->
</html>