<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>헬로 vue</h1>
        <p>[[ message ]] </p>
    </div>
</body>
</html>
<!-- <script src="https://unpkg.com/vue@next"></script> -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

<script>
    const { createApp } = Vue
    createApp({
        // 장고 변수와 구분을 위해 delimiters 정의
        delimiters: ['[[', ']]'],
    
        data() {
            return {
            message: 'Hello Vue!'
            }
        }
    }).mount('#app')

    // let todoListApp = {
    //     // 장고 변수와 구분을 위해 delimiters 정의
    //     delimiters: ['[[', ']]'],

    //     data() {
    //         return {
    //             todoItems: 'Hello Vue!',
    //         }
    //     }
    // }
    // Vue.createApp(todoListApp).mount('#app')
</script>
