<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js 3.x</title>
</head>
<body>
    <div id="app_area">
        <h1>My todo App</h1>
        <strong>할일 목록 작성</strong>
        <div class="inputBox">
            <input type="text" class="name" v-model="name" placeholder="name...">
            <input type="text" class="item" v-model="newTodoItem" placeholder="type anything welcomed...">
            <button v-on:click="add_todo()">ADD</button>
        </div>
        <ul class="todoList">
            <li v-for="(todo, index) in todoItems">
                <span>[[ todo.name ]] :: [[ todo.item ]]</span>
                <span class="removeBtn" v-on:click="remove_todo(todo, index)"> X</span>
            </li>
        </ul>
    </div>
</body>
<!--참고 :  https://vuejs.org/examples/#todomvc -->
</html>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    let todoListApp = {
        // vue와 django를 연동할 때 꼭 넣어줘야 함.
        delimiters: ['[[', ']]'],

        data() {
            return {
                name: '',
                newTodoItem: '',
                todoItems: [
                    {name: 'joy', item: 'django와 vue.js 연동 그램 만들기'},
                    {name: 'smile', item: '이름을 아쓰면 smile이 나옴'},
                    {name: 'fun', item: 'django는 재미있음'},
                    {name: 'happy', item: 'vue와 연동 하다니'},
                ]
            }
        },
        created() {
            console.log("created()... 처음 실행 될 때 ")
        },
        methods: {
            add_todo() {
                console.log("add item : ", this.name, this.newTodoItem);

                if(this.newTodoItem == '') return;
                if(this.name == '') this.name = 'joy';

                this.todoItems.push({
                    name: this.name, item: this.newTodoItem
                })
                this.clear_input();
            },

            clear_input() {
                this.name='';
                this.newTodoItem='';
            },

            remove_todo(todoItem, index){
                console.log(todoItem);
                this.todoItems.splice(index, 1);
            },
        }
    }

    Vue.createApp(todoListApp).mount('#app_area')
  </script>